{% extends 'base.html.twig' %}

{% block body %}

    <div class="admin-page">
        <h1>Page Admin</h1>

        <h2>Réservations du Mercredi</h2>
        <table>
            <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Cossy</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for reservation in reservationsMercredi %}
                {% set row_class = loop.index is even ? 'even-row' : 'odd-row' %}
                <tr class="{{ row_class }}">
                    <td>{{ reservation.nom }}</td>
                    <td>{{ reservation.prenom }}</td>
                    <td>{{ reservation.cossy }}</td>
                    <td>
                        <form action="{{ path('delete_reservation', {'id': reservation.id}) }}" method="post">
                            <input type="hidden" name="day" value="Mercredi">
                            <button type="submit" class="delete-btn">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <h2>Réservations du Samedi</h2>
        <table>
            <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Cossy</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for reservation in reservationsSamedi %}
                {% set row_class = loop.index is even ? 'even-row' : 'odd-row' %}
                <tr class="{{ row_class }}">
                    <td>{{ reservation.nom }}</td>
                    <td>{{ reservation.prenom }}</td>
                    <td>{{ reservation.cossy }}</td>
                    <td>
                        <form action="{{ path('delete_reservation', {'id': reservation.id}) }}" method="post">
                            <input type="hidden" name="day" value="Samedi">
                            <button type="submit" class="delete-btn">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}

