{% extends 'base.html.twig' %}

{% block title %}Le coin des barons Lyon{% endblock %}

{% block body %}
    <div class="home-card">
        <h2>Il n'y a plus de place pour le jour sélectionné.</h2>
        <hr/>

        {{ form_start(form) }}
        {{ form_row(form.day) }}
        {{ form_row(form.nom) }}
        {{ form_row(form.prenom) }}
        {{ form_row(form.cossy) }}

        <button type="submit" class="btn btn-primary">Réserver</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
